Consumologin/src/conf/xml-resources/web-service-references/webl_1/wsdl/localhost_8080/Servicelogin/webl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sw/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sw/" name="webl">
<types>
<xsd:schema>
<xsd:import namespace="http://sw/" schemaLocation="http://localhost:8080/Servicelogin/webl?xsd=1"/>
</xsd:schema>
</types>
<message name="Regístrese">
<part name="parameters" element="tns:Regístrese"/>
</message>
<message name="RegístreseResponse">
<part name="parameters" element="tns:RegístreseResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="Actualizar">
<part name="parameters" element="tns:Actualizar"/>
</message>
<message name="ActualizarResponse">
<part name="parameters" element="tns:ActualizarResponse"/>
</message>
<portType name="webl">
<operation name="Regístrese">
<input wsam:Action="http://sw/webl/RegístreseRequest" message="tns:Regístrese"/>
<output wsam:Action="http://sw/webl/RegístreseResponse" message="tns:RegístreseResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://sw/webl/loginRequest" message="tns:login"/>
<output wsam:Action="http://sw/webl/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="Actualizar">
<input wsam:Action="http://sw/webl/ActualizarRequest" message="tns:Actualizar"/>
<output wsam:Action="http://sw/webl/ActualizarResponse" message="tns:ActualizarResponse"/>
</operation>
</portType>
<binding name="weblPortBinding" type="tns:webl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Regístrese">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Actualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="webl">
<port name="weblPort" binding="tns:weblPortBinding">
<soap:address location="http://localhost:8080/Servicelogin/webl"/>
</port>
</service>
</definitions>